.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  overflow: hidden;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
 
  #selectionPanel{
      margin-top: 4%;
  }

  .meal{
    border:1px solid gray;
    border-radius:2px;
    margin:5px;
    padding:5px
  }
  #loggedInUser{
    display: inline-block;
  }
  .vishidden{
    visibility: hidden;
  }
  div>input[type='number']{
    width:5rem;
    height:5rem!important;
    font-size:30px;
  }

  .selectedShift{
    border: 1px solid #cdcdcd !important;
    border-radius: 50%;
    box-shadow: -3px 3px 35px #ddd;
  }

  .selectedMealOdd{
    background-color: #d9edf7;
    color: #31708f;
  }

  .selectedMealEven{
    background-color: #337ab7;
    color: white;
  }

  div.inlineNumbers1:active,
  div.inlineNumbers1:hover,
  div.inlineNumbers1:focus {
    outline:  0px !important;
  }

  div#selectionPanel > div{
    box-shadow: 0px 2px 25px #cdcdcd;
  }
  div#selectionPanel div[class~="panel"]{
    margin-bottom: 0px;
  }
  .log-off-button{
    margin: 1%;
    font-size:2rem;
  }

  .save-button{
    margin: 1%;
    font-size:2rem;
    box-shadow: 0px 2px 25px #cdcdcd;
  }

  div#selectionPanel div > input[type="number"] {
    text-align: right;
  }

/* .animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.3s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height: 10%;
} */

/*first page*/
.firstPage{/* 
  background-image: url('../images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
  height:100%;
  margin-left:-10px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 99;
}

.firstPage > img {
  width: 350px;
  top: 15%;
  left: 40%;
  position: absolute;
}

.firstPage > h1{
  color: #eb1507;
  text-align: center;
  font-weight: bold;
  position: relative;
  font-size: 4.5rem;
  top: 75%;
}

  /* #cardNumber{
    visibility: hidden;
  } */

  .peopleListItem{
    height: 8rem;
    font-size: 3.3rem;
    padding-top: 5px;
  }

  .peopleListItemGuestBadge{
    font-size: 3rem;
    color: white;
    background-color: #2196f3;
    margin: 2rem;
  }

  .scrollbarDark
{
  background: #F5F5F5;
  overflow: auto;
  height: 100vh;
  margin-top: 10px;
}

#ordersList::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #b3e5fc;
}

#ordersList::-webkit-scrollbar
{
  width: 10px;
  background-color: #01579b;
}

#ordersList::-webkit-scrollbar-thumb
{
  background-color: #01579b; 
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(255, 255, 255, .2) 50%,
                        rgba(255, 255, 255, .2) 75%,
                        transparent 75%,
                        transparent)
}

.menu-selected-details{
  font-size: 3rem;
  margin-top: 1rem;
}

.guest-select{
  font-size: 3rem;
  margin-top: 1rem;
}
.menuDescriptionSelect{
  font-size: 2.5rem;
}

.selectedMenu{
  background-color: #ff9800!important;
  color: white!important;
  border-color: white;
}

.guestSeq{
  margin: 1rem;
}

.divRealized{
  width: 100%;
  height: 6rem;
}

.buttonRealized{
  width: 70%;
  height: 100%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.26);
  border: none;
  outline: none;
}


.panel-title {
  font-size: 2em;
}

.list-group-item-text {
  color: inherit;
  line-height: 2;
  font-size: 1.2em;
}

a.list-group-item.active-success,
a.list-group-item.active-success > h4 {
    z-index: 2;
    color: #ffffff;
    background-color: #4caf50;
    border-color: #4caf50;
}

.shift {
  margin-bottom: 15px;
}

.btn-shift {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  padding: 0px;
}

.btn-shift > span {
  font-size: 3em;
  font-weight: bold;
}

.control-guest {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
}

.col-md-20 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px){
  .col-md-20 {
    width: 20%;
    float: left;
  }
}

.btn-text-minus {
  position: absolute;
  left: 25px;
  top: -3px;
}

.btn-text-plus {
  position: absolute;
  left: 22px;
  top: -2px;
}

.btn-text-first {
  position: absolute;
  left: 27px;
  top: -1px;
}

.btn-text-second {
  position: absolute;
  left: 24px;
  top: -1px;
}

.meal-headings {
  padding-top: 10px;
}

.card-input {
  z-index: -43;
  background: transparent;
  color: transparent;
  border: none;
  box-shadow: none !important;
  opacity: 0;
}
.card-input:focus {
  z-index: -43;
  background: transparent;
  color: transparent;
  border: none;
  box-shadow: none !important;
}

.list-item-date {
  font-size: 1.5em;
}

.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  padding: 0px !important;
  width: 30%;
}
.panel-beige {
  border-color: #d6e9c6;
}
.panel-beige > .panel-heading {
  color: #ffffff;
  background-color: #2b7f73;
  border-color: #d6e9c6;
}
.panel-beige > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-beige > .panel-heading .badge {
  color: #4caf50;
  background-color: #ffffff;
}
.panel-beige > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}