<div class="row" ng-keyup="vm.checkPersonCard()" ng-focus="true">
	<div class="col-md-4 scrollbarDark" id="ordersList">
		<div class="list-group">
			<a ng-repeat="employee in vm.waitingList" ng-init="vm.employeeToServe=employee" ng-click="vm.employeeToServe=employee" class="list-group-item peopleListItem" ng-class="{active:employee == vm.waitingList[0]}">
		   {{employee.Name}} <span class="badge peopleListItemGuestBadge">{{employee.Guests.length}}</span>
		 	</a>
		</div>
	</div>
	<div id="details" class="col-md-8" ng-if="vm.waitingList.length!=0">
		<div class="panel panel-info menu-selected-details">
			<div class="panel-heading">
				<p ng-show="vm.employeeToServe.OrderID != null">ИЗБРАНО МЕНИ:</p>
				<p ng-show="vm.employeeToServe.OrderID == null">ОДБЕРЕТЕ МЕНИ:</p>
			</div>
		  	<div class="panel-body">
			  	<div ng-show="vm.employeeToServe.OrderID != null">
			  		<p>СМЕНА: {{vm.employeeToServe.Shift}}</p>
					<p>{{vm.employeeToServe.MealDescription}}</p>
			  	</div>
			  	<div layout="row" layout-align="space-around center" ng-show="vm.employeeToServe.OrderID == null">
			  		<div class="menuSelect" id="$index" ng-click="vm.employeeToServe.MealID = meal.MealID;vm.MealSelectedForUser = $index" 
						ng-class="{selectedMenu:vm.MealSelectedForUser == $index}" 
						ng-repeat="meal in vm.mealsForDay">
						<p>МЕНИ {{meal.Type}}</p>
						<p class="menuDescriptionSelect">{{meal.MealDescription}}</p>
					</div>
			  	</div>
		  	</div>
			
		</div>
		<div class="panel panel-success guest-select"  ng-if="vm.employeeToServe.Guests.length==0" >
			<div class="panel-heading">
				<p>ГОСТИ</p>
			</div>
			<div class="panel-body">
				<div layout="column" layout-align="space-around stretch">
					<div ng-repeat="guest in vm.employeeToServe.Guests">
						<div class="guestSeq">ГОСТИН {{$index+1}}</div>
						<div layout="row" layout-align="space-around center">
							<div class="menuSelect" id="$index" ng-click="vm.guestSelection[$parent.$index] = $index; vm.employeeToServe.Guests[$parent.$index].MealID = meal.MealID" 
							ng-class="{selectedMenu:vm.guestSelection[$parent.$index]==$index}" 
							ng-repeat="meal in vm.mealsForDay">
								<p>МЕНИ {{meal.Type}}</p>
								<p class="menuDescriptionSelect">{{meal.MealDescription}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="row divRealized">
		<button class="btn-success buttonRealized" ng-click="vm.MealRealized(vm)">РЕАЛИЗИРАНО</button>
	</div>
	</div>
</div>
