<div class="row">
	<div class="col-md-4" style="overflow:auto;height:100vh">
		<div class="list-group">
		  <a href="#" class="list-group-item active peopleListItem">
		    Cras justo odio
		  </a>
		  <a href="#" class="list-group-item peopleListItem"><span class="badge peopleListItemGuestBadge">14</span>Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item peopleListItem"><span class="badge peopleListItemGuestBadge">1</span>Morbi leo risus</a>
		  <a href="#" class="list-group-item peopleListItem">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item peopleListItem"><span class="badge peopleListItemGuestBadge">8</span>Vestibulum at eros</a>
		  <a href="#" class="list-group-item peopleListItem">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item peopleListItem"><span class="badge peopleListItemGuestBadge">2</span>Morbi leo risus</a>
		  <a href="#" class="list-group-item peopleListItem">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item peopleListItem">Vestibulum at eros</a>
		  <a href="#" class="list-group-item peopleListItem">Vestibulum at eros</a>
		  <a href="#" class="list-group-item peopleListItem">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item peopleListItem"><span class="badge peopleListItemGuestBadge">2</span>Morbi leo risus</a>
		  <a href="#" class="list-group-item peopleListItem">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item peopleListItem">Vestibulum at eros</a>
		  <a href="#" class="list-group-item peopleListItem">Vestibulum at eros</a>
		  <a href="#" class="list-group-item peopleListItem">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item peopleListItem"><span class="badge peopleListItemGuestBadge">2</span>Morbi leo risus</a>
		  <a href="#" class="list-group-item peopleListItem">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item peopleListItem">Vestibulum at eros</a>
		  <a href="#" class="list-group-item peopleListItem">Vestibulum at eros</a>
		</div>
	</div>
	<div id="details" class="col-md-8">
		<div class="list-group">
		  <a href="#" class="list-group-item active">
		    <h4 class="list-group-item-heading">ИЗБРАНО МЕНИ</h4>
		    <p class="list-group-item-text">МЕНИ 1 ТИП</p>
		    <p class="list-group-item-text">СУПА, КОМПИРИ, ШНИЦЛА</p>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">ГОСТИ</h4>
		    <p class="list-group-item-text">МЕНИ 1 ТИП</p>
		    <p class="list-group-item-text">МЕНИ 2 ТИП</p>
		    <p class="list-group-item-text">МЕНИ 3 ТИП</p>
		  </a>
		</div>
	</div>
</div>
