<div class="row">
	<div class="row"> <!-- layout="row" layout-align="space-around start" -->
		<button class="btn btn-danger log-off-button pull-left" ng-click=""><i class="fa fa-sign-out fa-5x" ng-click="vm.logOut()" aria-hidden="true"></i></button>
		<h1 id="loggedInUser">{{vm.userLoggedIn}}</h1>
		<button class="btn btn-success save-button pull-right" ng-click="vm.saveChoice()"><i class="fa fa-floppy-o fa-5x" aria-hidden="true"></i></button>
		
	</div>
	<div id="selectionPanel" layout="row" layout-align="space-around center">
		<div>
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<h3>ПОНЕДЕЛНИК</h3>
					<h4>{{vm.weekToShow(0) | date:'dd.MM.yyyy'}}</h4>
				</div>
				<div class="panel-body">
					<div layout="row" layout-align="space-around center">
						<div>
							<h4 class="page-heading">СМЕНА</h4>
						</div>
						<div class="col-md-12">
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('monday',1)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['monday']==1}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-primary">I</strong>
								</span>
							</div>
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('monday',2)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['monday']==2}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-primary">II</strong>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div ng-class="{vishidden:vm.shifts['monday'] == undefined}" id="contentPanel">
					<div layout="column" layout-align="space-around stretch">
						<div ng-click="vm.mealSelect(meal,'monday')" 
						ng-class="{selectedMealOdd:vm.mealsSelected.monday == meal.MealID}"  
						ng-repeat="meal in vm.weekMeals[0].Meals" 
						class="meal" 
						ng-if="meal.Shift==vm.shifts['monday']">
							<h4>{{meal.Type}}</h4>
							<p>{{meal.MealDescription}}</p>
						</div>
					</div>
					<div layout="row" layout-align="space-around stretch">
						<div><h3>ГОСТИ</h3></div>
						<div class="inlineNumbers text-primary">
							<span ng-click="vm.Guests('monday', 0)" class="fa-stack fa-2x">
								<i class="fa fa-plus fa-stack-1x"></i>
							</span>
						</div>
						<div><input type="number" min="0" ng-model="vm.monGuest"></div>
						<div class="inlineNumbers text-primary">
							<span ng-click="vm.Guests('monday', 1)" class="fa-stack fa-2x">
								<i class="fa fa-minus fa-stack-1x"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="panel panel-info">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<h3>ВТОРНИК</h3>
					<h4>{{vm.weekToShow(1) | date:'dd.MM.yyyy'}}</h4>
				</div>
				<div class="panel-body">
					<div layout="row" layout-align="space-around center">
						<div>
							<h4>СМЕНА</h4>
						</div>
						<div class="col-md-12">
							<div class=" col-md-6 inlineNumbers1" ng-click="vm.clickOpen('thuesday',1)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['thuesday']==1}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-info">I</strong>
								</span>
							</div>
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('thuesday',2)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['thuesday']==2}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-info">II</strong>
								</span>
							</div>
						</div>
						
					</div>
				</div>
				<div ng-class="{vishidden:vm.shifts['thuesday'] == undefined}" id="contentPanel">
					<div layout="column" layout-align="space-around stretch">
						<div ng-click="vm.mealSelect(meal,'thuesday')" 
						ng-class="{selectedMealEven:vm.mealsSelected.thuesday == meal.MealID}" 
						ng-repeat="meal in vm.weekMeals[1].Meals" class="meal"
						ng-if="meal.Shift==vm.shifts['thuesday']">
							<h4>{{meal.Type}}</h4>
							<p>{{meal.MealDescription}}</p>
						</div>
					</div>
					<div layout="row" layout-align="space-around stretch">
						<div><h3>ГОСТИ</h3></div>
						<div class="inlineNumbers text-info">
							<span ng-click="vm.Guests('thuesday', 0)" class="fa-stack fa-2x">
								<i class="fa fa-plus fa-stack-1x"></i>
							</span>
						</div>
						<div><input type="number" min="0" ng-model="vm.thuGuest"></div>
						<div class="inlineNumbers text-info">
							<span ng-click="vm.Guests('thuesday', 1)" class="fa-stack fa-2x">
								<i class="fa fa-minus fa-stack-1x"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<h3>СРЕДА</h3>
					<h4>{{vm.weekToShow(2) | date:'dd.MM.yyyy'}}</h4>
				</div>
				<div class="panel-body">
					<div layout="row" layout-align="space-around center">
						<div>
							<h4>СМЕНА</h4>
						</div>
						<div class="col-md-12">
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('wednesday',1)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['wednesday']==1}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-primary">I</strong>
								</span>
							</div>
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('wednesday',2)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['wednesday']==2}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-primary">II</strong>
								</span>
							</div>
						</div>
						
					</div>
				</div>
				<div ng-class="{vishidden:vm.shifts['wednesday'] == undefined}" id="contentPanel">
					<div layout="column" layout-align="space-around stretch">
						<div ng-click="vm.mealSelect(meal,'wednesday')" 
						ng-class="{selectedMealOdd:vm.mealsSelected.wednesday == meal.MealID}" 
						ng-repeat="meal in vm.weekMeals[2].Meals"
						ng-if="meal.Shift==vm.shifts['wednesday']" class="meal">
							<h4>{{meal.Type}}</h4>
							<p>{{meal.MealDescription}}</p>
						</div>
					</div>
					<div layout="row" layout-align="space-around stretch">
						<div><h3>ГОСТИ</h3></div>
						<div class="inlineNumbers text-primary">
							<span ng-click="vm.Guests('wednesday', 0)" class="fa-stack fa-2x">
								<i class="fa fa-plus fa-stack-1x"></i>
							</span>
						</div>
						<div><input type="number" min="0" ng-model="vm.wedGuest"></div>
						<div class="inlineNumbers text-primary">
							<span ng-click="vm.Guests('wednesday', 1)" class="fa-stack fa-2x">
								<i class="fa fa-minus fa-stack-1x"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="panel panel-info">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<h3>ЧЕТВРТОК</h3>
					<h4>{{vm.weekToShow(3) | date:'dd.MM.yyyy'}}</h4>
				</div>
				<div class="panel-body">
					<div layout="row" layout-align="space-around center">
						<div>
							<h4>СМЕНА</h4>
						</div>
						<div class="col-md-12">
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('thursday',1)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['thursday']==1}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-info">I</strong>
								</span>
							</div>
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('thursday',2)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['thursday']==2}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-info">II</strong>
								</span>
							</div>
						</div>
						
					</div>
				</div>
				<div ng-class="{vishidden:vm.shifts['thursday'] == undefined}" id="contentPanel">
					<div layout="column" layout-align="space-around stretch">
						<div ng-click="vm.mealSelect(meal,'thursday')" 
						ng-class="{selectedMealEven:vm.mealsSelected.thursday == meal.MealID}" 
						ng-repeat="meal in vm.weekMeals[3].Meals" class="meal"
						ng-if="meal.Shift==vm.shifts['thursday']">
							<h4>{{meal.Type}}</h4>
							<p>{{meal.MealDescription}}</p>
						</div>
					</div>
					<div layout="row" layout-align="space-around stretch">
						<div><h3>ГОСТИ</h3></div>
						<div class="inlineNumbers text-info">
							<span ng-click="vm.Guests('thursday', 0)" class="fa-stack fa-2x">
								<i class="fa fa-plus fa-stack-1x"></i>
							</span>
						</div>
						<div><input type="number" min="0" ng-model="vm.thrGuest"></div>
						<div class="inlineNumbers text-info">
							<span ng-click="vm.Guests('thursday', 1)" class="fa-stack fa-2x">
								<i class="fa fa-minus fa-stack-1x"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<h3>ПЕТОК</h3>
					<h4>{{vm.weekToShow(4) | date:'dd.MM.yyyy'}}</h4>
				</div>
				<div class="panel-body">
					<div layout="row" layout-align="space-around center">
						<div>
							<h4>СМЕНА</h4>
						</div>
						<div class="col-md-12">
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('friday',1)">
								<span class="fa-stack fa-3x">
									<i class="fa fa-circle fa-stack-2x" ng-class="{selectedShift:vm.shifts['friday']==1}"></i>
									<strong class="fa-stack-1x text-primary">I</strong>
								</span>
							</div>
							<div class="col-md-6 inlineNumbers1" ng-click="vm.clickOpen('friday', 2)">
								<span class="fa-stack fa-3x" ng-class="{selectedShift:vm.shifts['friday']==2}">
									<i class="fa fa-circle fa-stack-2x"></i>
									<strong class="fa-stack-1x text-primary">II</strong>
								</span>
							</div>
						</div>
						
					</div>
				</div>
				<div ng-class="{vishidden:vm.shifts['friday'] == undefined}" id="contentPanel">
					<div layout="column" layout-align="space-around stretch">
						<div ng-click="vm.mealSelect(meal,'friday')" 
						ng-class="{selectedMealOdd:vm.mealsSelected.friday == meal.MealID}" 
						ng-repeat="meal in vm.weekMeals[4].Meals" class="meal"
						ng-if="meal.Shift==vm.shifts['friday']">
							<h4>{{meal.Type}}</h4>
							<p>{{meal.MealDescription}}</p>
						</div>
					</div>
					<div layout="row" layout-align="space-around stretch">
						<div><h3>ГОСТИ</h3></div>
						<div class="inlineNumbers text-primary">
							<span ng-click="vm.Guests('friday', 0)" class="fa-stack fa-2x">
								<i class="fa fa-plus fa-stack-1x"></i>
							</span>
						</div>
						<div><input type="number" min="0" ng-model="vm.friGuest"></div>
						<div class="inlineNumbers text-primary">
							<span ng-click="vm.Guests('friday', 1)" class="fa-stack fa-2x">
								<i class="fa fa-minus fa-stack-1x"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>